.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared tyle */
.text-primary {
    color: #FD6E0A;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 30px;
    padding: 0px 0px 0px 120px;

}

.nav-title {
    font-weight: 800;
    font-size: 45 px;
    text-align: right;

}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;


}

.btn-primary {
    background-color: #FD6E0A;
    stroke: black 100%;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}


/* Bannaer Style */
.banner-greeting {
    color: #474747;
    font-weight: semi-bold;
    font-size: 45px;
}

.banner-head {
    font-size: 85px;
    font-weight: bold;
    color: black;

}

.banner-description {
    font-size: 18px;
    color: #474747;
    font-weight: regular;
}

.banner-image {
    width: 580px;
    height: 676px;



}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 230px;

}

.banner-content {
    max-width: 580 px;

}

.header1 {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;



}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}

.section-description {
    font-size: 18px;
    font-weight: regular;
    color: #757575;


}

.secondary-bg {
    background-color: #fff8f3;



}

.about {
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
    margin-top: 155px;

}

main {

    max-width: 1140px;
    margin: 0 auto;

}

.itm-description {
    font-weight: 600;



}

.about-items {
    display: flex;
    justify-content: space-around;

}

.text-edit {
    text-align: center;

}

.skills-container {
    display: flex;


}

.skill {
    width: 267px;
    height: 330px;
    margin: 24px;
    background-color: #FFFFFF;
    padding: 104px 33px 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
} 
main section{
margin-top:130px ;
margin-bottom: 130px;

}